* {
  background-color: brown;
}

ul > li > a {
  text-decoration: none;
}

ul>li>a:hover{

    color:black;
    text-decoration:solid;
}




ul {
  margin: 0px;
}

ul > li {
  list-style: none;
  display: inline-block;
  padding: 5px 30px;
}
